/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.error-page {
  text-align: center;
}

div.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

div.navbar > a > p {
  font-weight: 550;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* pageTask */
.pageTask {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.task-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}
.task-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.task-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* task form */
.create {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

input,
label {
  display: block;
}

input.radio,
label.radio {
  display: inline;
  width: fit;
  margin: 0 3px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* width: 100%; */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input.input-text {
  width: 100%;
}

form button {
  background: var(--primary);
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

div.success {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin: 20px 0;
}

div.account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  font-weight: 500;
}

button.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
}

p.number {
  display: inline;
  margin: 0 5px;
}

input.error {
  border: 1px solid var(--error);
}

form.login,
form.signup {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  max-width: 350px;
  width: 100%;
  margin: auto;
}

form.login > h4,
form.signup > h4,
form.login > p,
form.signup > p {
  text-align: center;
}

form.login > h4,
form.signup > h4,
form.login > p > span,
form.signup > p > span {
  color: var(--primary);
}

form.login > button,
form.signup > button {
  width: 100%;
  color: white;
  font-weight: 600;
  font-family: "Poppins";
}

.formAuth {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90vh;
}

p > a {
  text-decoration: none;
  color: var(--primary);
}
